@import '../../index.scss';

.slideshow {
    height: 415px;
    position: relative;
    
    @media (max-width: 768px) {
        height: 255px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 415px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            height: 255px;
        }
        &__btn {
            background: transparent;
            border: 0;
            padding: 0;
            width: 7.7%;
            transition: all 400ms;
            &:hover {
                transform: scale(1.1);
                & path:hover {
                    stroke: $noir;
                }
            }
    }

        & svg {
            height: 100%;
        }
    }
    &__num {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 25px;
        font-size: 18px;
        font-weight: 500;
        color: $blanc;
        @media (max-width: 768px) {
            font-size: 13px;
            bottom: 15px;
        }
    }
}