@import '../index.scss';

.apropos {
    position: relative;
    
    @media (max-width: 768px) {
            margin: $margin_page_mobil;
        }
   
    &__collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px;
        margin: 0 150px;
        @media (max-width: 1024px) {
            margin: 0;
        
        }
        @media (max-width: 768px) {
            padding: 20px 0;
            gap: 20px;
        }
        &__btn {
            height: 52px;
            width: 1023px;
            border: 0px;
            border-radius: 5px;
            background-color: $principal;
            color: $blanc;
            text-align: left;
            font-size: 24px;
            font-weight: 700;
            font-family: $principal-font-family;
        }
    }
}