.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    margin-bottom: 100px;
    gap: 100px;

    &__img {
        height: 263px;

        @media (max-width: 768px) {
            height: 99px;
        }
    }

    &__title {
        text-align: center;
        color: #FF6060;
        font-size: 36px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    
    &__link {
        color: #000000;
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}