@import '../index.scss';

.navbar {
    padding: $padding_page;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    @media (max-width: 768px) {
        padding: $padding_page_mobil;
        margin: 20px 0;
    }
    &__link {
        margin-left: 30px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        color: $noir;
        &--selected {
            text-decoration: underline;
        }
        @media (max-width: 768px) {
            font-size: 12px;
            }
    }
    
    &__logo {
        @media (max-width: 768px) {
        height: 46.88px;
        }
    } 
}
