@import '../index.scss';

.annonces {
    margin: $margin_page;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 25px;
    gap: 50px;
    padding: 50px;
    background-color: $gris;
    margin-bottom: 40px;
    margin-top: 40px;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        margin: $margin_page_mobil;
        padding: 0;
        gap: 15px;
        background-color: $blanc;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}