@import '../index.scss';

.logement {
    margin: $margin_page;

    &__contenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        @media (max-width: 768px) {
            flex-direction: column;
        }

        &__title {
            margin-bottom: 20px;

            & h1 {
                color: $principal;
                font-size: 36px;
                font-weight: 500;
                margin: 0;
                @media (max-width: 1024px) {
                    font-size: 24px;
                }
                @media (max-width: 768px) {
                    font-size: 18px;
                }

            }
            & p {
                font-size: 18px;
                font-weight: 500;
                margin-top: 5px;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
            &__tags {
            display: flex;
            gap: 10px;
            & div {
                display: flex;
                align-items: center;
                height: 25px;
                border-radius: 25px;
                background-color: $principal;
                color: $blanc;
                font-size: 14px;
                font-weight: 700;
                padding: 0 10px;
                @media (max-width: 768px) {
                    font-size: 10px;
                    border-radius: 5px;
                    padding: 0 20px;
                }
            }

        }
        
        }
        &__supp {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

            &__host {
                display: flex;
                justify-content: end;
                gap: 10px;
                font-size: 18px;
                font-weight: 500;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
                & p {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    color: $principal;
                    width: 60%;
                    text-align: end;

                }
                & img {
                    border-radius: 50%;
                    height: 64px;
                    @media (max-width: 768px) {
                        height: 32px;
                    }
                }
        
            }
            &__rating {
                display: flex;
                justify-content: end;
                margin: 20px 0;
            }
        }
        
    }
    
    &__description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
        margin-bottom: 50px;
        
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
    @media (max-width: 768px) {
        margin: $margin_page_mobil;
    }

    
}